@model IEnumerable<BlogProject.SERVICE.DTOs.CommentWithUserDTO>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Yorumlar";
}

<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Comment" asp-action="Index">Yorumlar</a></li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Yorumlar
    </div>
    <div class="card-body">
        <a class="btn btn-primary me-0" asp-action="Create">Yorum Ekle</a>
        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="commentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.First().UserName)</th>
                        <th>@Html.DisplayNameFor(model => model.First().ArticleTitle)</th>
                        <th>@Html.DisplayNameFor(model => model.First().CommentContent)</th>
                        <th>@Html.DisplayNameFor(model => model.First().CreateDate)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Status)</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var comment in Model)
                        {
                            <tr>
                                <td>@comment.UserName</td>
                                <td>@comment.ArticleTitle</td>
                                <td>@comment.CommentContent</td>
                                <td>@comment.CreateDate.ToShortDateString()</td>
                                <td>@comment.Status</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@comment.CommentId">Düzenle</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@comment.CommentId">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#commentsTable').DataTable({
                language: {
                    url: '/locales/tr.json'
                }
            });
        });
    </script>
}
