@model BlogProject_UI.Models.VMs.UserWithArticlesViewModel

<div class="author-header d-flex justify-content-center align-items-center mt-5 mb-5">
    <img src="~/img/UserImages/@Model.UserPhoto" alt="@Model.UserName" class="rounded-circle mr-3" style="width: 50px; height: 50px;" />
    <h1>@Model.UserName</h1>
</div>

<div class="mt-5">
    @foreach (var article in Model.Articles)
    {
        <article class="mb-4">
            <div class="image">
                <img class="thumbnail" src="/img/ArticleImages/@article.Thumbnail" alt="@article.Title">
            </div>

            <h3>@article.Title</h3>
            <ul class="list-inline">
                <li class="list-inline-item">
                        @Model.UserName
                </li>
                <li class="list-inline-item">@article.CreateDate.ToString("MMM dd, yyyy")</li>
            </ul>

            <p>@Html.Raw(article.Content)</p>

            <a asp-controller="Article" asp-action="Detail" asp-route-id="@article.Id" class="btn btn-outline-primary">Keşfet</a>
        </article>
    }
</div>
