@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<BlogProject.SERVICE.DTOs.ArticleDTO>

@{
    ViewData["Title"] = "Anasayfa";
}


<div class="mt-5">
    @foreach (var article in Model)
    {

        <article class="mb-4">

            <div class="image">
                <img class="thumbnail" src="/img/ArticleImages/@article.Thumbnail" alt="@article.Title">
            </div>

            <h3>@article.Title</h3>
            <ul class="list-inline">
                <li class="list-inline-item">@article.UserName</li>
                <li class="list-inline-item">@article.CreateDate.ToString("MMM dd, yyyy")</li>
            </ul>

            <p>@Html.Raw(article.Content)</p>

            <a asp-controller="Article" asp-action="Detail" asp-route-id="@article.Id" class="btn btn-outline-primary">Keşfet</a>
        </article>
    }
</div>

@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    ActiveLiElementClass = "active",
    MaximumPageNumbersToDisplay = 3,
    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
    LinkToPreviousPageFormat = "‹",
    LinkToNextPageFormat = "›",
    LinkToFirstPageFormat = "«",
    LinkToLastPageFormat = "»"
})
